

::selection {
    color: pink;
    background: black;
}

p::first-line {
    color: orange;
}

p::first-letter {
    color: red;
    font-size: 50px;
}

h1::before {
    background: URL(https://cdn-icons-png.flaticon.com/512/178/178158.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
    margin-right: 10px;
}

h1::after {
    background: URL(https://cdn-icons-png.flaticon.com/512/178/178158.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
    margin-left: 10px;
}